body
  font-size 16px

.max-width
  max-width 300px
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.max-w300
  max-width 300px

.sup-color
  color blueviolet

#bdshare_weixin_qrcode_dialog
  width 280px !important
  height 320px !important
