<div class="post-info">
    <p class="eof">- EOF -</p>
    <p class="copyright">All rights reserved <a href="http://gejiawen.github.io/about">@gejiawen</a>.</p>
    <p class="link">本文链接：<a href="<%= page.permalink %>"><%= page.permalink %></a></p>

    <%- partial('../share/index') %>
</div>
