<section class="shareto">
    <div class="ds-share" data-thread-key="<%= page.postid %>" data-title="<%= page.title %>" data-url="<%= page.permalink %>" data-author-key="<%= config.author %>">
        <div class="ds-share-inline">
            <ul  class="ds-share-icons-16">
                <li data-toggle="ds-share-icons-more"><a class="ds-more" href="javascript:void(0);">分享到：</a></li>
                <li><a class="ds-weibo" href="javascript:void(0);" data-service="weibo"></a></li>
                <li><a class="ds-wechat" href="javascript:void(0);" data-service="wechat"></a></li>
                <li><a class="ds-qzone" href="javascript:void(0);" data-service="qzone"></a></li>
                <li><a class="ds-qqt" href="javascript:void(0);" data-service="qqt"></a></li>
            </ul>
            <div class="ds-share-icons-more">
            </div>
        </div>
    </div>
</section>
