footer
    background rgba(0, 0, 0, 0.5)
    background black 9
    margin 0 auto
    font-family arial
    width 100%
    bottom 0
    left 0
    overflow hidden
    padding-bottom 10px
    text-align center
    color #fff

footer a
    color #fff

#bottom-tip
    padding 18px 0 15px 0
