footer
    background rgba(0, 0, 0, 0.5)
    height: 300px;
    margin 0 auto
    padding-top: 90px;
    font-family arial
    width 100%
    bottom 0
    left 0
    overflow hidden
    text-align center
    color #fff

footer a
    color #fff

#bottom-tip
    padding 18px 0 15px 0
