.post-info
  padding 20px 0
  font-size 16px
  position relative
  .eof
    font-weight bold
  .share
    .bdsharebuttonbox
      position absolute
      left 80px
      bottom 17px

#disqus_thread
  padding-top 20px
