.search
  .post-body
    h1
      border-bottom 1px dotted #e4e4e4
      padding-bottom  20px
    .search-keywords
      margin-bottom 20px
  .keywords
    background-color #ccc
    padding 0 5px
    border-radius 3px
    color #C7254E
    margin-right 10px
  .search-result
    margin-bottom 50px
  .no-result
    font-size 30px
    .keywords
      margin 0 5px
  article
    padding 10px 0
    position relative
    h3
      a
        word-wrap break-word
    .published
      position absolute
      @media screen and (max-width: 736px)
        display none
    .classify
      position absolute
      left 170px
      .category
        margin-right 10px
      .tags
        a
          margin 0 5px
      @media screen and (max-width: 736px)
        display none


